.addis-btn {
  background-color: $white;
  font-size: $font-size-sm;
  font-weight: 600;
  padding: 7px 14px;
  text-transform: uppercase;

  &:hover {
    background-color: $primary;
  }

  &._primary {
    background-color: $primary;

    &:hover {
      background-color: $white;
      color: $primary;
    }
  }
}